* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
body {
  font-family: system-ui;
  font-size: 16px;
  background-color: #eee;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.dropdown {
  font-size: 14px;
}
